<div class="">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1507324554506-c701c6b592a1?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80)">
    <h1 class="text-center" style="font-size: 80px"><strong>Add your cocktail below</strong>!</h1>
    </div>
    <div class="container pad20 cocktail-list">
      <%= simple_form_for @cocktail do |f| %>
        <%= f.input :name %>
        <div class="submit-goback">
          <%= f.submit "Submit", class: "btn pad20" %>
          <%= link_to "Go back", cocktails_path, class: "btn pad20 back" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
